/*
    --------Convencion de buenas practicas para el codigo css--------

    1. Posicionamiento --> static, absolute, relative, fixed
    2. Modelo de caja (Box model) --> margin, border, padding, content
    3. Tipografía --> tipos, tamaños de fuente, etc
    4. Estilos visuales --> box-shadow, border-radius, gradient, etc
    5. Otros --> reglas CSS y más
*/
:root
{
    /*----------Colores----------*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #fbca9c;
    --secondary-blue: #1a9af7;
    --primary-morado: #6a0190;
    --soft-blue: #a2d8ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;/*Que no se achique menor a 320 porque es el tamano minio de los ceulares*/
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header__title--container
{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header__title--container h1
{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header__title--container p
{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height:1.8rem;
    color: var(--soft-orange);
}
.header__title--container .header__button
{
    position: absolute;
    left: calc(50% - 115px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 230px;
    height: 48px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header__button span{
    display: inline-block;
    width:13px ;
    height:8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');

}


/*--------------------Para main-------------------*/
main{
    width:100%;
    height: auto;
    background-color: var(--off-white);
}




/* SECCION Contenedor de intercambio de monedas*/
.main-exchange-container
{
    width: 100%;
    height: auto;
    padding-top:80px;
    padding-bottom: 30px;
    text-align: center;
    
}
.main-exchange-container .backgroundimg
{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-exchange-container__title
{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container__title h2
{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight : bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}
.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}














/*---------------------- Tablas ------------------*/

.main-tables-container
{
    display: flex;
    min-height: 380px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding: 0px 20px;
    gap: 10px;
}

.main-currency-table , .main-comisiones-table
{
    scroll-snap-align: center;
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    position: relative;
}


.main-currency-table .main-currency-table__title
{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height:2.3rem;
    color: var(--bitcoin-orange);
}
.main-comisiones-table  .main-comisiones-table__title
{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height:2.3rem;
    color: var(--secondary-blue);
}

.main-currency-table__container, .main-comisiones-table__container
{
    width:90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.main-currency-table__container table, .main-comisiones-table__container table
{
    width:100%;
    height: 100%;
}
.main-currency-table__container td, .main-comisiones-table__container td
{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height:1.9rem;
    color: var(--warm-black);
    background-color: var(--just-white);
   
}
.main-currency-table__container td
{
    border: 1px solid  #ffc680  ;
}
.main-comisiones-table__container td
{
    border: 1px solid  #b3d4fc  ;
}

/*Redondeo de esquinas*/
.main-currency-table__container--top-left, .main-comisiones-table__container--top-left
{
    border-radius: 15px 0 0 0;
}
.main-currency-table__container--top-right, .main-comisiones-table__container--top-right
{
    border-radius: 0 15px 0 0;
}
.main-currency-table__container--buttom-left, .main-comisiones-table__container--buttom-left
{
    border-radius: 0 0 0 15px;
}
.main-currency-table__container--bottom-right, .main-comisiones-table__container--bottom-right
{
    border-radius: 0 0 15px 0;
}
.main-currency-table__container .table__right, .main-comisiones-table__container .table__right
{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #505050;
}


/*iciono de subida o caida*/
.main-currency-table__container .down
{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.main-currency-table__container .up
{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

/*---------------------- Fecha de actualizacion ------------------*/
.currency-table--date
{
    width: 215px;
    height: 40px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
    vertical-align: middle;
}
.comisiones-table--date
{
    width: 215px;
    height: 40px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-blue);
    border-radius: 8px;
    vertical-align: middle;
}

.currency-table--date p, .comisiones-table--date p
{
    margin: auto 0;
    vertical-align: middle;
    padding-top: 6px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: var(--warm-black)
}



/*Detalles de productos*/


.mainProductDetail
{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px 50px 10px; /*Para no preocuparnos despues dor el espacio entre el margen y cada card*/
    background-color: var(--black);
}
.mainProductDetail__batataLogo
{
    position: absolute;
    width: 42px;
    height: 25px;
    top: -12px;
    left: calc(50% - 21px);
    background-image: url('./assets/icons/batata.svg');    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.mainProductDetail__title
{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top:40px;
    text-align: center;
}
.mainProductDetail__title h2
{
   margin-bottom: 20px;
   font-size:2.4rem ;
   font-weight: bold;
   line-height: 2.6rem;
   color: var(--just-white);
}
.mainProductDetail__title p
{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #aaaaaa;
}

/*Cards - tarjetas*/
.productCardsContainer__card
{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding:15px;
    background-color: var(--warm-black);
    border-radius: 6px;
    box-shadow: 0px 4px 8px  rgba(0,0,0,0.16);
}


.productCardsContainer__card--icon
{
    display: inline-block;
    width:20px;
    height: 20px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.clock
{
    background-image: url('./assets/icons/clock.svg');
}
.eye
{
    background-image: url('./assets/icons/eye.svg');
}
.dollar
{
    background-image: url('./assets/icons/dollar-sign.svg');
}
.checkCircle
{
    background-image: url('./assets/icons/check-circle.svg');
}
.productCardsContainer__card--TITLE
{
    margin-bottom: 15px;
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.9rem;
    color: var(--just-white);
}
.productCardsContainer__card--body
{
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7rem;
    color: #808080;
}




/*IMAGEN DE SECCION COMODIGN*/
.bitcoingImgContainer
{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/img/bitcoinbaby2x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.bitcoingImgContainer h2
{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    
}





/*Seccion de tarjeta de precios y PLANES*/
.mainPlanesContainer
{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px; /*Para separar los planes del footer*/
    text-align: center;
    background-color: var(--off-white);
}
.mainPlanesContainer__planesTitle 
{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.mainPlanesContainer__planesTitle h2
{
    padding-top: 50px ;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.mainPlanesContainer__planesTitle p 
{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

/*Estilos de las card*/
/*No se crean estilos para el contenedor section de las card porque solo hay una y no es necesario*/
.mainPlanesContainer__containerSlider
{
    display: flex;
    min-height: 365px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
}





.containerSlider__card
{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px; /*No puede ser mas pequeno que 230px para no danar la organizacion, y NO PUSIMOS 320px PORQUE CUANDO LLEGUEMOS AUN TAMANO DE 320px DE ANCHO DE VENTANA, LA TARJETA OCUPARIA TODO LA PANTALLA Y QUEREMOS QUE ESTA SE VEA MAS PEQUENA QUE LA PANTALLA*/
    max-width: 300px; /*Para evitar que se agrande mucho en dispositivos desktop*/
    height: 250px;
    margin: 50px auto 0px;
    padding: 0px 15px ;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(89,73,30,0.5);
}
.containerSlider__card--recomendado
{
    position: absolute;
    width: 120px;
    height:31px;
    top: -16px;
    padding: 6px;
    left: 50%; /*Posicionamos en el centro*/
    transform: translateX(-50%); /*Trasladamos el objeto en el eje x restando el 50% del elemento, trasladamos el objeto a la medida de su mitad*/
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--bitcoin-orange);
    border-radius: 15px;
    color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(89,73,30,0.6);

}
.containerSlider__card .tituloBasico
{
    background-color: var(--secondary-blue);
}
.containerSlider__card .tituloPremium
{
    background-color: var(--primary-morado);
}

.card__planInfoContainer--title
{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: var(--black);
}
.card__planInfoContainer--price
{
    padding:5px 0px;
   /* position: relative;*/
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 4rem;
    color: var(--black);
}

.card__planInfoContainer--price span
{
    /*position: absolute;*/
    top: 17px;
    left: calc(50% - 40px); /*Calculamos la mitad del elemento y le restamos 10px para que quede centrado*/
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5rem; 
    vertical-align: top;
}
.card__planInfoContainer--descripcion
{
    padding: 10px 0px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.4rem;
    color: #757575;
}

.card__planInfoContainer--callToAction
{
    width:150px;
    height:48px;
    margin-top:20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    font-family:"DM Sans", sans-serif;
    vertical-align: middle;
}
.card__planInfoContainer--callToAction span
{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
}

.botonMensual
{
    border: 2px solid var(--secondary-blue);
}
.card__planInfoContainer .iconoBlueMensual
{
    background-image: url('./assets/icons/blue-right-arrow.svg');
}

.botonQuinquenal
{
    border: 2px solid var(--primary-morado);
}
.card__planInfoContainer .iconoMoradoQuinquenal
{
    background-image: url('./assets/icons/morado-right-arrow.svg');
}


/*Diseno de FOOOTER*/
footer .containerBatata
{
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 150px;
    background-color: var(--bitcoin-orange);
    padding: 0px 20px;

}
footer .containerBatata section
{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
footer .containerBatata .left ul
{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li
{
    margin:10px 0px;
}
.left a
{
    text-decoration: none;
    color: var(--just-white);
}
.edbyte
{
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 40px;
    padding: 0px 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--just-white);
}
.edbyte__logo
{
    width: 37px;
    height: 30px;
    background-image: url('./assets/img/edbyte.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}
  
.edbyte p
{
    font-size: 1.2rem;
    font-weight: 500;

}










/*Responsive design*/
@media only screen and (max-width:950px)
{
    
    .main-tables-container,.mainPlanesContainer__containerSlider
    {
        overflow-x: hidden;
    }
}

@media only screen and (max-width:564px)
{
    .main-tables-container
    {
        overflow-x: scroll;
    }
}
@media only screen and (max-width:635px)
{
    .mainPlanesContainer__containerSlider
    {
        overflow-x: scroll;
    }
}